  @media screen and (max-width: 555px) {
    
    .button-noel {
      position: absolute;
      top: 350px;
    }
    #dejaInscrit {
      position: absolute;
      top: 420px;
    }
    #sapin-noel {
      position: absolute;
      width: 300px;
      left:  -100px;
      bottom:  150px;
    }
    #btn-retour {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    #countdown {
      margin-left: 40px;
      margin-right: 40px;
      height: 70px;
      font-size: 0.8rem;
    }
    .pereNoel {
      position: absolute;
      right: 0;
      bottom: 145px;
    }
  }
  @media (min-width: 555px) and (max-width: 800px) {
    
    .button-noel {
      position: absolute;
      top: 350px;
    }
    #dejaInscrit {
      position: absolute;
      top: 420px;
    }
    #sapin-noel {
      position: absolute;
      width: 300px;
      left:  -100px;
      bottom:  150px;
    }
    #countdown {
      margin-left: 15%;
      margin-right: 15%;
      height: 70px;
      font-size: 0.8rem;
    }
  }
  @media (min-width: 800px) and (max-width: 1200px) {
    
    .button-noel {
      position: absolute;
      top: 350px;
    }
    #dejaInscrit {
      position: absolute;
      top: 420px;
    }
    #sapin-noel {
      position: absolute;
      width: 300px;
      left:  -100px;
      bottom:  150px;
    }
    
    #countdown {
      margin-left: 200px;
      margin-right: 200px;
      height: 70px;
      font-size: 0.8rem;
    }
    #neige {
      width: 100%;
      max-height: 50%;
    }
  }
  @media (min-width: 1200px) {

    .button-noel {
      position: absolute;
      top: 350px;
    }
    #dejaInscrit {
      position: absolute;
      top: 420px;
    }
    #sapin-noel {
      position: absolute;
      width: 300px;
      left:  -100px;
      bottom:  150px;
    }
    
    #countdown {
      margin-left: 200px;
      margin-right: 200px;
      height: 70px;
      font-size: 0.8rem;
    }
    #neige {
      width: 100%;
      max-height: 50%;
    }
  }