@media screen and (max-width: 550px){
  #countdown {
    margin-left: 10%;
    margin-right: 10%;
    height: 70px;
    font-size: 0.8rem;
  }
    #form {
      transform: scale(1.2);
    }
    #div-form-inscription {
      margin: 50px;
    }
    #btn-retour {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  @media (min-width: 520px) and (max-width: 800px){
    #countdown {
      margin-left: 15%;
      margin-right: 15%;
      height: 70px;
      font-size: 0.8rem;
    }
  }
  @media (min-width: 800px) {
    #countdown {
      margin-left: 15%;
      margin-right: 15%;
      height: 70px;
      font-size: 0.8rem;
    }
  }